{% extends 'admin/header.html.twig' %}

{% block title %}Modifier le joueur{% endblock %}

{% block body %}
    <h1>Modifier le joueur</h1>

    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.emailAddress) }}
        {{ form_row(form.roles) }}
        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_players_index') }}">Retour à la liste</a>
{% endblock %}
