{% extends 'admin/header.html.twig' %}

{% block title %}Ajouter un tournoi{% endblock %}

{% block body %}
    <h1>Ajouter un tournoi</h1>

    {{ form_start(form) }}
        {{ form_row(form.tournamentName) }}
        {{ form_row(form.startDate) }}
        {{ form_row(form.endDate) }}
        {{ form_row(form.location) }}
        {{ form_row(form.description) }}
        {{ form_row(form.maxParticipants) }}
        {{ form_row(form.sport) }}
        {{ form_row(form.organizer) }}
        <button type="submit">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_tournaments_index') }}" class="back-link">Retour à la liste</a>
{% endblock %}
