{% extends 'admin/header.html.twig' %}

{% block title %}Modifier le match{% endblock %}

{% block body %}
    <h1>Modifier le match</h1>

    {{ form_start(form) }}
        {{ form_row(form.tournament) }}
        {{ form_row(form.player1) }}
        {{ form_row(form.player2) }}
        {{ form_row(form.scorePlayer1) }}
        {{ form_row(form.scorePlayer2) }}
        {{ form_row(form.matchDate) }}
        {{ form_row(form.status) }}
        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_sportmatches_index') }}" class="back-link">Retour à la liste</a>
{% endblock %}
